<div id="giftwheel">

  	<% i = 1 %>

<% @users.each do |user| %>
    <div class="outer<%= i %>"><%=h user.first_name + " " + user.last_name %></div>
	<% i+=1 %>

<% end %>
<% @users.each do |user| %>
    <div class="inner<%= user.position %>"><%=h user.first_name + " " + user.last_name %></div>
<% end %>


</div>
<div id="spin-wheel">
    <%= button_to "Spin Wheel",  :action => :spin %>
    
</div>