<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	    <%= stylesheet_link_tag "site" %>
		
		<title> <%= @title %></title>
		<body>
			<div id="page">
				<div id="header">Welcome to Your Giftwheel</div>
				<div id="nav">
					<%= link_to_unless_current "Add Participant", :action => "new"  %> |
					<%= link_to_unless_current "View Participants", :action => "list"  %> |
					<%= link_to_unless_current "Giftwheel", :action => "index"  %> 
					
				</div>
				<div id="content">
					<% if flash[:notice] -%>
					<div id="notice"><%= flash[:notice] %></div>
					<% end -%>
					<%= @content_for_layout %>
				</div>
			</div>
		</body>
	</head>
</html>